<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки подключения к PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/register_office</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">postgres</property>

        <!-- Диалект PostgreSQL (лучше указывать конкретную версию) -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Опциональные настройки -->
        <property name="hibernate.show_sql">true</property>  <!-- Вывод SQL в консоль -->
        <property name="hibernate.format_sql">true</property> <!-- Форматированный SQL -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Автообновление схемы БД -->

        <!-- Указание классов-сущностей (можно указывать здесь или через аннотации) -->
        <!-- <mapping class="com.example.YourEntity"/> -->
        <mapping class="edu.javacourse.register.domain.Person" />

    </session-factory>
</hibernate-configuration>